@import url(./normalize.css);
@import url(./vars.css);

body {
  font-family: "Roboto", sans-serif;
  background: #3b3f45;
}
ul {
  list-style: none;
  padding-left: 0;
}
.container {
  max-width: 534px;
  margin: 0 auto;
}
