:root {
  --font-family: "Segoe UI", Tahoma, sans-serif;
  --main-background-color: #fbe4d8;
  --sub-background-color: #f9f5f0;
  --main-text-color: #4a4a4a;

  --head-bg-color: #a3c9a8;
  --main-title-color: #5d4b46;
  --third-title-color: #7a6c66;
}
